<%- include('../partials/header.ejs') -%>
    <section id="indices">
      <form class="" action="/index" method="post">
    <div class="row all-cards">
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="CIPLA"><h2>CIPLA</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="IRCTC"><h2>IRCTC</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="ITC"><h2>ITC</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="TCS"><h2>TCS</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="TITAN"><h2>TITAN</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="HDFC"><h2>HDFC</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="WIPRO"><h2>WIPRO</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="MARUTI"><h2>MARUTI</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="ASIANPAINT"><h2>ASIANPAINT</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="BRITANNIA"><h2>BRITANNIA</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    </div>
    </form>
    </section>
<%- include('../partials/footer.ejs') -%>
